{% extends "job/base.html" %}
{% block content %}
    <div class="container" style="padding-bottom:30vh;">
    <div class="border-top pt-3 mt-10" style="margin-top:7vh;">
        <h3>Thanks for applying</h3>
        <h4 class="">
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'job-home'%}">Continue</a>
        </h4>
    </div>
</div>	
<div class="margin-top-60"></div>

<div id="footer">
	<div class="container">
	<!-- Main -->
	</div>

	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2020 by <a href="#">Solution's Master</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
{% endblock %}